In [3]:
import pandas as pd
import numpy as np
import datetime
import os
import pandas_datareader.data as web

In [5]:
sp500 = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")[0]
sp500.columns = sp500.iloc[0] 
sp500.drop(sp500.index[0], inplace=True)
#sp500['Ticker symbol'][:200].tolist()

symbols_list = ['AAPL', 'AMZN', 'TSLA']

symbols = []

# Iterate through tickers given
for ticker in symbols_list:
    
    start = datetime.datetime(2016, 1, 1)
    end = datetime.datetime(2016, 12, 31)
    
    f = web.DataReader(ticker, 'google', start, end)
    f['Symbol'] = ticker
    symbols.append(f)
    
# Attach Symbols
stocks_data = pd.concat(symbols)

# Add and rename columns
stocks_data= stocks_data[['Symbol','Open','High','Low','Close','Volume']]
stocks_data['Daily Return'] = stocks_data['Close'].pct_change(-1)
stocks_data.reset_index(inplace=True)
stocks_data.head(1)

        Date Symbol    Open    High    Low   Close    Volume  Daily Return
0 2016-01-04   AAPL  102.61  105.37  102.0  105.35  67281190      0.025703

In [11]:
# year start
y_start = stocks_data.groupby('Date').get_group('2016-01-04')[['Open']]
y_start['Symbol'] = stocks_data['Symbol']
y_start

# year end
y_end = stocks_data.groupby('Date').get_group('2016-12-30')[['Close']]
y_end['Symbol'] = stocks_data['Symbol']

# merge columns
start_end_y = pd.merge(y_start,y_end, on='Symbol')

# rename columns
start_end_y = start_end_y.rename(columns = {"Open": 'Year_Start_Price', "Close": 'Year_End_Price'})
start_end_y.head()

   Year_Start_Price Symbol  Year_End_Price
0            102.61   AAPL          115.82
1            656.29   AMZN          749.87
2            230.72   TSLA          213.69

In [8]:
# Function to define  % change on stock value
def percent_change(end_year, start_year):
    return ((end_year - start_year)/start_year)*100

# Call year change function
year_change = percent_change(start_end_y['Year_End_Price'], start_end_y['Year_Start_Price'])

# Build columns for change in year value
start_end_y['Year_%_Change'] = year_change

# Rounding decimals
start_end_y.round(decimals=2)

   Year_Start_Price Symbol  Year_End_Price  Year_%_Change
0            102.61   AAPL          115.82          12.87
1            656.29   AMZN          749.87          14.26
2            230.72   TSLA          213.69          -7.38

In [9]:
# define std for each stock
yearly_std = stocks_data.groupby('Symbol')['Close'].std()

# Pull sharpe ratio for each stock
def sharpe_ratio(year_change):
    for std in yearly_std:
        return (year_change -1)/ std
    
# Call sharpe ratio function
sharpe_r = sharpe_ratio(start_end_y['Year_%_Change'])

# Build Sharpe ratio column in DataFrame
start_end_y['Sharpe_Ratio'] = sharpe_r
start_end_y

   Year_Start_Price Symbol  Year_End_Price  Year_%_Change  Sharpe_Ratio
0            102.61   AAPL          115.82      12.873989      1.554036
1            656.29   AMZN          749.87      14.258940      1.735295
2            230.72   TSLA          213.69      -7.381241     -1.096914

In [10]:
# Max and Min price during year
stocks_features = stocks_data.groupby('Symbol').agg({'High':'max','Low':'min'}).\
                  rename(columns={'High':'Max_Yearly_Price','Low':'Min_Yearly_Price'})

# Index reset to column
stocks_features.reset_index(inplace=True)

# Merge dataframes
ndf = pd.merge(stocks_features, start_end_y, on='Symbol')
ndf

,Symbol,Max_Yearly_Price,Min_Yearly_Price,Year_Start_Price,Year_End_Price,Year_%_Change,Sharpe_Ratio
0,AAPL,118.69,89.47,102.61,115.82,12.873989,1.554036
1,AMZN,847.21,474.00,656.29,749.87,14.258940,1.735295
2,TSLA,269.34,141.05,230.72,213.69,-7.381241,-1.096914